*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clear{clear:both;}
.center {padding: 0 2%;}
/**Página de login**/
html, body{
	height: 100%;
	background: #12012019;
}
body{
	overflow-x: hidden;

}
.box-login{
	max-width: 400px;
	width: 95%;
	padding: 20px 2%;
	background: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.box-login h2{
	text-align: center;
	font-size: 19px;
	color: black;
}

.box-login input[type=text], .box-login input[type=password]{
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
	margin-top: 10px;
}
.box-login input[type=submit]{
	width: 90px;
	height: 30px;
	cursor: pointer;
	margin-top: 10px;
	background: #1de9b6;
	color: white;
	margin-left: 140px;
	width: 30%; 
	position: relative;
}
/*box erro do painel*/
.erro-box{
	width: 100%;
	padding: 4px 2%;
	text-align: center;
	background: #F75353;
	color: white;
	font-size: 15px;
}
/**fim página de login**/

/**Painel de controle**/

header{
	position: relative;

	padding: 10px 0;
	background: #78909c;
	left: 200px;
	width: calc(80% - 200px);
}
.loggout{
	float: right;
}
.loggout a{
	color: white;
	font-size: 17px;
	margin-left: 10px;
}
.menu-btn{
	float: left;
	cursor: pointer;
	font-size: 23px;
	color: white;
}
.manu-wraper{width: 200px;}
.menu{
	overflow-x: hidden;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #607d8b;
	float: left;
	width: 200px;
	z-index: 2;
}
.box-usuario{
	text-align: center;
}
.avatar-usuario{
	text-align: left;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	border: 3px solid #2F3D42;
	display: inline-block;
}
.avatar-usuario i{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 50px;
	color: white;
}
.imagem-usuario{
	padding: 10px;
	display: inline-block;
	width: 110px;
	height: 110px;
	border-radius: 50%;
}
.imagem-usuario img{
	width: 110px;
	height: 110px;
	border-radius: 50%;
}
.nome-usuario p{
	margin-top: 4px;
	color: white;
	font-size: 14px;
}
/**Conteudo principal do painel**/
.w100{
	width: 100%;
}
.w33{
	width: 33%;
}
.w50{
	width: 48%;
	margin-right: 2%;
}
.left{
	float: left;
}
.rigth{
	float: right;
}
.content{
	width: calc(80% - 200px);
	left: 200px;
	position: relative;
	padding: 10px;
	background: white;
}
/*.box-content{
	position: relative;
	background: white;
	padding: 10px;
	margin-bottom: 10px;
	width: 98%;

}
.box-content{
	background: white;
	padding: 30px;
	margin-bottom: 25px;
}*/

.box-content h2{
	font-weight: 300;
	font-size: 23px;
}
.usuario-online{
	background: #2F3D42;
	position: absolute;
	width: 33%;
	float: left;
}
.itens-menu a{
	display: block;
	padding: 8px;
	font-size: 12px;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid #2F3D42;
	left: 0;
}

.itens-menu h2{
	display: block;
	padding: 8px;
	font-size: 15px;
	text-decoration: none;
	color: white;
	background: #2F3D42;
	left: 0;
}
/*Box Metricas*/

.box-metricas{
	margin-top:16px;
	padding:0 15px;
}

.box-metrica-single{
	float: left;
	position: relative;
	width: 33.3%;
	background: #F4B03E;
	border: 5px solid white;
}

.box-metricas .box-metrica-single:nth-of-type(2){
	background: #E05C4E;
}

.box-metricas .box-metrica-single:nth-of-type(3){
	background: #0091ea;
}

.box-metrica-wraper{
	padding: 10px 20px;
	text-align: left;
	color: white;
}

.box-metrica-wraper h2{
	font-size: 28px;
}

.box-metrica-wraper p{
	padding: 10px 0;
	font-size: 26px;
}
/*tabela responsiva*/
.table-responsive{
	margin: 20px 0;
}
.col{
	float left: 
	width 50%;
}
/*box de alert*/
.box-alert{
	width: 100%;
	padding: 8px 0;
	text-align: center;
}
.sucesso{
	background: #00E676;
	color: white;
}
.erro{
	background: #F75353;
	color: white;
}

.menu-active::before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0; 
  height: 0; 

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid green;
}

.menu-active{
	background: #3d4e54;
}

@media screen and (max-width: 1280px){
	.box-metrica-single{
		width: 98%;
	}
}
@media screen and (max-width: 768px){

	.menu{
		display: none;
	}
	.content{
		width: 100%;
		left: 10px;
	}
	.box-content{
		width: 94%;
		left: 0;

}
	header{
		left: 0;
		width: 100%;
	}
}